body {
    background-color: red;
}

section {
    margin: auto;
}

h1 {
    color: white;
}


div {
    width: 200px;
    height: fit-content;
    background-color: white;
    
    
}
.class {
    background-color: white;
    width: 200px;
    height: fit-content;
    color: black;
}