body {
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;

}

h1 {
    color: white;
    width: 300px;
    text-align: center;
}


.listTasks {
    width: 270px;
    height: 400px;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    font-size: 1.2em;
}
p {
    border-bottom: 1px solid #8d8df4;
    padding: 5px;
}
i {
    background-color: red;
    color: white;
}
#MyForm {
    display: flex;
    width: 300px;
}
#new-task {
    padding: 10px;
    width: 300px;
    border: none;
    }

#submit {
    background-color: white;
    color: #8d8df4;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    width: 60px;
}

