body {
    background-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    width: 400px;
    height: 400px;
    margin: 100px auto 0 auto;
    background-color: aquamarine;
}

#button-container {
    text-align: center;
}

button {
    width: 200px;
    height: 100px;
    background-color: pink;
    color: white;
    
    font-size: 2em;
    margin-top: 10px;

}