* {
    box-sizing: border-box;
}

.container {
    display: grid;
    background-color: white;
    grid-template-columns: 50px 250px;
    column-gap: 10px;
    row-gap: 10px;
}
.div1 {
    background-color: red;
    border: 2px solid black;
}
.div2 {
    background-color: blue;
    border: 2px solid black;
}
.div3 {
    background-color: yellow;
    border: 2px solid black;
    grid-column: span 2;
}