.navbar ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    float: left;
}
.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 16px 16px;
}

