.navbar ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    float: left;
}
.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 20px 20px;
    font-size: 1.3em;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
