.container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: 100px repeat(4, 200px) 100px;
}
.yellow-box {
    background-color: yellow;
    width: 80px;
    height: 80px;
    border: 1px solid black;
}
