body {
    background-image: url(https://media.istockphoto.com/id/1254791353/photo/world-backgroun-4k.jpg?s=612x612&w=0&k=20&c=18x3iMx6BNc6HcA_9KeCktyp4iNM8L59cbO6piMEZ54=);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: white;
}
@media all and (max-width: 992px) {
.container-number-row1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  justify-content: center; 
  margin-top: 100px;  
}
}
@media all and (min-width: 992px) {
    .container-number-row1 {
        display: flex;
        flex-wrap: wrap;
      justify-content: center; 
      margin-top: 100px;  
    }
}

.number-box1 {
    margin-right: 100px;
}
.number-box2 {
    margin-right: 100px;
}
.container-number-row1 h2 {
    color: rgb(193, 193, 247);
    font-size: 40px;
    text-align: center;
}
.container-number-row1 p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
@media all and (max-width: 992px) {
.container-review-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap: wrap;
    margin-top: 100px;  
}
}
@media all and (min-width: 992px) {
    .container-review-row2 {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        margin-top: 100px;  
    }
    }
.review-box1, .review-box2, .review-box3  {
   
    border-radius: 15px;
    border-style: groove;
    width: 300px;
    text-align: center;
    background-color: white;
    height: fit-content;
    position: relative;
    
}
.review-box1 {
    margin-right: 100px;
}
.review-box2 {
    margin-right: 100px;
    margin-top: 50px;
}
.review-text {
    color: rgb(82, 79, 79);
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.name-box {
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}
.review-box1 .name-box {
    background-color: rgb(247, 91, 143);
}
.review-box2 .name-box {
    background-color: rgb(163, 81, 244);
}
.review-box3 .name-box {
    background-color: rgb(91, 213, 211);
}
.profile-pic {
    height: 60px;
    position: absolute;
    left: 120px;
    bottom: 80px;
}
img {
    border-radius: 50%;
}