
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.title-container {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid grey;
    background-color: rgb(218, 245, 236);
    position: relative;
}
.title {
    width: fit-content;
    text-align: left;
    position: absolute;
    left: 50px;
    top: 50px;
    font-size: larger;
}
h1 {
    border-bottom: 4px solid rgb(228, 162, 41);
    width: fit-content;
}
h3 {
    border-bottom: 2px solid rgb(228, 162, 41);
    width: fit-content;
}
#profile-img {
    position: absolute;
    width: 210px;
    top: 25px;
    right: 40px;
}
img {
    border-bottom: 4px solid rgb(228, 162, 41);
}
.content-container {
    width: 100%;
    height: 1000px;
    background-color: rgb(235, 245, 241);
    position: relative;
}
.contact-container {
    border-right: 2px solid grey;
    padding-right: 10px;
    position: absolute;
    width: 25%;
    height: 200px;
    top: 20px;
    left: 10px;
}
.profile-container {
    position: absolute;
    width: 70%;
    height: 200px;
    top: 20px;
    right: 10px;
    text-align: justify;
}
.education-container {
    border-right: 2px solid grey;
    padding-right: 10px;
    position: absolute;
    width: 25%;
    height: 300px;
    top: 240px;
    left: 10px;
}
.education-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.experience-container {
    position: absolute;
    width: 70%;
    height: 300px;
    top: 240px;
    right: 10px;
}

.experience-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.languages-container {
    border-right: 2px solid grey;
    padding-right: 10px;
    position: absolute;
    width: 25%;
    height: 200px;
    top: 560px;
    left: 10px;
}
.skills-container {
    position: absolute;
    width: 70%;
    height: 200px;
    top: 560px;
    right: 10px;
}