body {
    background-image: url(background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto';
}
#navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

@media all and (min-width: 600px) {
  #navbar {
    background-color: yellow;
  }
  a {color: black;}
}
@media all and (min-width: 768px) {
  #navbar {
    background-color: lightgreen;
  }
  a {color: black;}
}
@media all and (min-width: 992px) {
  #navbar {
    background-color: red;
  }
  a {color: white;}
}
@media all and (min-width: 1200px) {
  #navbar {
    background-color: black;
  }
  a {color: white;}
}
  #navbar li{
    float: right;
    padding: 20px 16px;
  }
  a {      
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    background-color: grey;
  }
  .title-text {
    position: relative;
    width: 500px;
    height: 800px;
  }
  
  header {
    text-transform: uppercase;
    width: fit-content;
    position: absolute;
    top: 200px;
    left:100px;
  }
  @media all and (min-width: 600px) {
    h1 {
      font-size: 35px;
    }
  }
  @media all and (min-width: 768px) {
    h1 {
      font-size: 25px;
    }
  }
  .text {
    width: 500px;
    font-size: 1.2em;
    position: absolute;
    
  }
  @media all and (max-width: 992px) {
    .text {
      top: 200px;
    left:300px;
    }
  }
    @media all and (min-width: 992px) {
      .text {
        top: 250px;
      left:100px;
      }
    }
  
  .footer {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 0.7em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
  }