*{
    box-sizing: border-box;
}
/*this makes sure when adding borders that it is not added to the size*/

body {
    margin: 0;
    padding: 0;
}
/*remove custom margin and padding*/

#container {
    border: 1px solid red;
    width: 1250px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: grey;
    padding: 10px;
    /*one column that is 1 fraction(25%) the other 4 fraction(75%)*/
}

#sidebar {
    display: grid;
    width: 250px;
    height: fit-content;
    border: 1px solid black;
}
button {
    display: grid;
    width: 240px;
    height: 80px;
    border: 1px solid black;
    margin: 5px;
    grid-template-columns: 250px;
    grid-template-rows: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border-radius: 5%;
}

#color-pallette{
    display: grid;
    width: 250px;
    height: fit-content;
    border: 1px solid black;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(7, 80px);
}
.color-fields {
    border: 1px solid black;
    margin: 3px;
}

#main {
    display: grid;
    width: 1000px;
    padding-left: 2px;
    
    border: 1px solid black;
    grid-template-columns: repeat(55, 18px);
    grid-template-rows: repeat(35, 18px);
}
.drawing-fields {
    background-color: white;
    border: 1px solid lightgrey;
}