*{
    box-sizing: border-box;
}
/*this makes sure when adding borders that it is not added to the size*/

body {
    margin: 0;
    padding: 0;
}
/*remove custom margin and padding*/

#container {
    /*border: 1px solid red;*/
    height: auto;
    width: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: grey;
    padding: 10px;
}

#sidebar {
    display: grid;
    height: fit-content;
    /*border: 1px solid black;*/
}
button {
    display: grid;
    width: 260px;
    height: 80px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border-radius: 15px;
}

.pallette{
    display: grid;
    width: 260px;
    height: fit-content;
    /*border: 1px solid black;*/
    grid-template-columns: repeat(3, 85px);
    grid-template-rows: repeat(7, 85px);
}
.color-fields {
    border: 1px solid black;
    margin: 5px;
}

#main {
    display: grid;
    /*width: 1000px;*/
    padding-left: 2px; 
    /*border: 1px solid black;*/
    grid-template-columns: repeat(64, 25px);
    grid-template-rows: repeat(28, 25px);
}
.drawing-fields {
    background-color: white;
    border: 1px solid lightgrey;
}