body {
    background-color: black;
    color: white;
    text-align: center;
}

#myContent {
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height: 250px;
    width: 400px;
    border: 2px solid yellow;
    border-radius: 5%;
    margin: auto;
    
}
#search {
    border: 2px solid yellow;
    background-color: lightgray;
    border-radius: 5%;
    margin-top: 20px;
    font-size: larger;
    font-weight: bold;
}
.fa-3x{
    margin-top: 100px;
}
#loading {
    margin-top: 20px;;
    font-size: larger;
    font-weight: bold;
}